html {
    font-family: 'Open Sans', sans-serif;

    --light-blue:rgba(140, 161, 230, 0.815);
    --light-pink:rgba(255, 205, 238, 0.507);
    --light-pink-2:floralwhite;
    --black:#22221ad7;
    --background:#bbbfffd2;
   
    
}

* {
    box-sizing: border-box;
}

.background {
    background-color: var(--background);
    
}
.title {
    font-size: 350%;
    color: var(--black);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    font-weight: 800;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}

.container-book {
    background-color:var(--light-pink);
    border-radius: 20px;
    margin: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.book-image{
    width: 50%;
    height: 70%;
    display: flex;
    margin: 0 auto;
    padding-top: 20px;
    
}
.book-title{
    text-align: center;
    color: var(--black);
    font-size: 120%;
    font-weight: 800;
    padding-top: 10px;
    margin-top: 10px;
}

.book-author{
    text-align: center;
    color: var(--black);
    background-color:var(--light-blue);
    border-radius: 500px;
    font-size: 120%;
    font-weight: 800;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.book-year{
    text-align: center;
    color: var(--black);
    font-size: 100%;
    font-weight: 500;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
button {
    background-color:var(--light-blue);
    border-radius: 20px;
    border-style: none;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 100%;
    font-weight: 500;
    cursor: pointer;

}
button:hover{
    background-color:var(--black);
}
.add-book{
    font-size: 120%;
    color: var(--black);
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 500;
    margin-left: 50px;
}

.save-book{
    font-size: 120%;
    color: var(--black);
    padding-top: 50px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    
}

.button-close{
    border-radius: 20px;
}
.img-close {
    width: 25px;
    height: 30px;
}
.add-modal {
    background-color:rgba(163, 161, 161, 0.829);
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.add-modal-content{
    background-color:var(--light-pink);
    padding: 30px;
    border-radius: 20px;
    width: 800px;

}

.input-name {
    font-size: 140%;
    color: var(--black);
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    background-color:var(--light-pink-2);
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    border-radius: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}